@using SlackClone.Domain
<div class="card my-3">
    <div class="card-body">
        <EditForm Model="@NewMessage" OnValidSubmit="HandleSubmit">
            <div class="form-group">
                <InputTextArea @bind-Value="NewMessage.Message" class="form-control" placeholder="Type Message here!" />
            </div>
            <button class="btn btn-primary">Post</button>
        </EditForm>
    </div>
</div>

@code
{
    public SlackMessage NewMessage {get; set;} = new SlackMessage();
    [Parameter]
    public EventCallback<SlackMessage> OnPosted { get; set; }

    async Task HandleSubmit()
    {
        NewMessage.PostedBy = "Tango";
        NewMessage.PostedOn = DateTime.Now;
        await OnPosted.InvokeAsync(NewMessage);
        NewMessage = new SlackMessage();
    }
}