@page "/timer"
@inherits TimerBase

<div style="font-size:5em;">@TimeLeft</div>
<button class="btn btn-primary" @onclick="Start">Start</button>
<button class="btn btn-success" @onclick="Reset">Reset</button>
<button class="btn btn-danger" @onclick="Stop">Stop</button>

@code {
    
}