@page "/birthday"

<h2>What is your date of birth?</h2>
<input type="text" placeholder="MM/DD/YYYY" @bind="_dob"/>
<button class="btn btn-primary" @onclick="Submit">Submit</button>
<hr />
@if (_day != null){
    <p>You were born on a ... @_day!</p>
}

@code {
    private string _dob = "";
    private string _day;

    private void Submit(){
        if (_dob != null){
            var isValid = DateTime.TryParse(_dob, out var date);
            if (isValid)
            {
                _day = date.DayOfWeek.ToString();

            }
        }

    }
}